@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --heading: rgb(0 10 45);
  --para: #777777;
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #13cced;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, #0751b9 0%, #13cced 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}
/* --helper: #8490ff;
  --purple: rgb(132 144 255);
  --blue: gb(98 189 252); */
/* spacing 
desktop = 4.8rem */

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

body {
  overflow-x: hidden;
}
.counter-numbers {
  font-size: 4rem;
}
h1,
h2,
h3,
h4 {
  font-family: "Rufina", serif;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: var(--heading);
  font-size: 6rem;
  font-weight: 600;
}

p {
  color: var(--para);
  line-height: 1.6;
  font-size: 1.8rem;

  /* word-spacing: 0.1rem; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.btn {
  background: -webkit-linear-gradient(0deg, #33ccffe7 5%, #6655ffed 95%);
  font-family: Work Sans;
  padding: 1.6rem 3.2rem;
  border: none;
  color: rgb(255 255 255);
  display: inline-block;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  position: relative;
}

.btn:hover {
  box-shadow: 0px 20px 20px 0px rgb(132 144 255 / 30%);
  color: rgb(255 255 255);
}

.section {
  padding: 9rem 0;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
  grid-template-columns: repeat(4, 1fr);
}

/* ===========================================
Header Section Start
======================================= */

.header {
  padding: 0 4.8rem;
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  /* background-color: #e7f5ff; */
}

.header .logo {
  /* width: 15%; */
  height: 3rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #212529;
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

.mobile-navbar-btn {
  /* by default for normal screen we want to hide  */
  display: none;
  background: transparent;
  cursor: pointer;
  border: none;
}

.mobile-nav-icon {
  width: 5rem;
  height: 5rem;
  color: #212529;
}

/* for desktop or mobile menu-outline one must be visible  
and we need to hide the close menu icon
*/
.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* sticky Navbar */
.sticky .header {
  position: fixed;
  top: 0;
  left: 0;
  height: 8rem;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
  padding-top: 0;
  padding-bottom: 0;
}

/* ===========================================
Hero  Section Start
======================================= */

.section-hero {
  background: var(--bg);
}

.section-hero-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.hero-top-data {
  text-transform: uppercase;
  color: var(--heading);
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--helper);
}

.hero-heading {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
}

.hero-para {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  max-width: 60rem;
}
.mail a {
  font-size: 17px;
}
.section-hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  max-width: 80%;
  z-index: 1;
}
.skills-section .skill-wrapper:hover {
  cursor: pointer;
}

/* tooptip Section  */
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  cursor: pointer;
}
.tooltipText {
  background-color: var(--heading);
  color: white;
  position: absolute;
  bottom: 90%;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  opacity: 0;
  transition: all 0.5s;
}
.tooltipText::after {
  content: "";
  border-width: 5px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
  position: absolute;
  top: 100%;
  left: 40%;
  margin-left: 5%;
}

/* Style Icon */
i {
  background-color: rgba(168, 164, 164, 0.3);
  padding: 10px 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
}

/* Hover text tooltip */
.tooltip:hover .tooltipText {
  opacity: 1;
  transform: translateY(-10px);
}

/* ===========================================
 Bio Data Section Start
======================================= */

.bio-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-image img {
  display: inline-block;
  width: 80%;
  box-shadow: -2rem -2rem 0rem 0rem var(--helper);
}

.common-heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 6rem;
  text-transform: capitalize;
  position: relative;
}

.common-heading::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--helper);
}

.common-heading::after {
  content: "";
  position: absolute;
  top: 128%;
  left: 1.5rem;
  width: 30%;
  height: 0.3rem;
  background: var(--helper);
}

.bio-data-stats {
  padding: 6.4rem 0;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.bio-progress-bar {
  width: 90%;
  height: 0.8rem;
  /* background: var(--para); */
  background-color: rgb(233 236 239);
  border-radius: 10rem;
  position: relative;
  box-shadow: var(--shadpw);
  /* overflow: hidden; */
}

.bio-progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: inherit;
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  border-radius: 10rem;
}

/* to create the rectangle box  */
.bio-progress-bar span {
  position: absolute;
  top: 1.8rem;
  left: 76%;
  width: 4rem;
  height: 2rem;
  background: var(--helper);
  color: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border: none;
  outline: none;
}

/* to create the traingle or caret symbol  */
.bio-progress-bar span::after {
  content: "";
  position: absolute;
  top: -1.6rem;
  width: 0rem;
  height: 0rem;
  border: 0.8rem solid var(--helper);
  border-color: transparent;
  border-bottom-color: var(--helper);
}

/* ===========================================
 Section Skills
======================================= */
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--bs-gutter-x) * -0.5);
  margin-right: calc(var(--bs-gutter-x) * -0.5);
  margin-top: calc(var(--bs-gutter-y) * -1);
}
.row > * {
  flex-shrink: 0;
  margin-top: var(--bs-gutter-y);
  max-width: 100%;
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  width: 100%;
}
.col {
  flex: 1 0;
}
.row-cols-auto > * {
  flex: 0 0 auto;
  width: auto;
}
.row-cols-1 > * {
  flex: 0 0 auto;
  width: 100%;
}
.row-cols-2 > * {
  flex: 0 0 auto;
  width: 50%;
}
.row-cols-3 > * {
  flex: 0 0 auto;
  width: 33.3333333333%;
}
.row-cols-4 > * {
  flex: 0 0 auto;
  width: 25%;
}
.row-cols-5 > * {
  flex: 0 0 auto;
  width: 20%;
}
.row-cols-6 > * {
  flex: 0 0 auto;
  width: 16.6666666667%;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
}
.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}
.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}
.col-3 {
  flex: 0 0 auto;
  width: 25%;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}
.col-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}
.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}
.col-9 {
  flex: 0 0 auto;
  width: 75%;
}
.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}
.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
.offset-1 {
  margin-left: 8.33333333%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.offset-3 {
  margin-left: 25%;
}
.offset-4 {
  margin-left: 33.33333333%;
}
.offset-5 {
  margin-left: 41.66666667%;
}
.offset-6 {
  margin-left: 50%;
}
.offset-7 {
  margin-left: 58.33333333%;
}
.offset-8 {
  margin-left: 66.66666667%;
}
.offset-9 {
  margin-left: 75%;
}
.offset-10 {
  margin-left: 83.33333333%;
}
.offset-11 {
  margin-left: 91.66666667%;
}
.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}
.g-0,
.gy-0 {
  --bs-gutter-y: 0;
}
.g-1,
.gx-1 {
  --bs-gutter-x: 0.25rem;
}
.g-1,
.gy-1 {
  --bs-gutter-y: 0.25rem;
}
.g-2,
.gx-2 {
  --bs-gutter-x: 0.5rem;
}
.g-2,
.gy-2 {
  --bs-gutter-y: 0.5rem;
}
.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}
.g-3,
.gy-3 {
  --bs-gutter-y: 1rem;
}
.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}
.g-4,
.gy-4 {
  --bs-gutter-y: 1.5rem;
}
.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}
.g-5,
.gy-5 {
  --bs-gutter-y: 3rem;
}
@media (min-width: 576px) {
  .col-sm {
    flex: 1 0;
  }
  .row-cols-sm-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-sm-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-sm-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-sm-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-sm-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-sm-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-sm-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-sm-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-sm-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-sm-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-sm-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-sm-0 {
    margin-left: 0;
  }
  .offset-sm-1 {
    margin-left: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
  .offset-sm-3 {
    margin-left: 25%;
  }
  .offset-sm-4 {
    margin-left: 33.33333333%;
  }
  .offset-sm-5 {
    margin-left: 41.66666667%;
  }
  .offset-sm-6 {
    margin-left: 50%;
  }
  .offset-sm-7 {
    margin-left: 58.33333333%;
  }
  .offset-sm-8 {
    margin-left: 66.66666667%;
  }
  .offset-sm-9 {
    margin-left: 75%;
  }
  .offset-sm-10 {
    margin-left: 83.33333333%;
  }
  .offset-sm-11 {
    margin-left: 91.66666667%;
  }
  .g-sm-0,
  .gx-sm-0 {
    --bs-gutter-x: 0;
  }
  .g-sm-0,
  .gy-sm-0 {
    --bs-gutter-y: 0;
  }
  .g-sm-1,
  .gx-sm-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-sm-1,
  .gy-sm-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-sm-2,
  .gx-sm-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-sm-2,
  .gy-sm-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-sm-3,
  .gx-sm-3 {
    --bs-gutter-x: 1rem;
  }
  .g-sm-3,
  .gy-sm-3 {
    --bs-gutter-y: 1rem;
  }
  .g-sm-4,
  .gx-sm-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-sm-4,
  .gy-sm-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-sm-5,
  .gx-sm-5 {
    --bs-gutter-x: 3rem;
  }
  .g-sm-5,
  .gy-sm-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 768px) {
  .col-md {
    flex: 1 0;
  }
  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-md-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-md-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-md-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-md-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-md-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-md-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-md-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-md-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-md-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-md-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-md-0 {
    margin-left: 0;
  }
  .offset-md-1 {
    margin-left: 8.33333333%;
  }
  .offset-md-2 {
    margin-left: 16.66666667%;
  }
  .offset-md-3 {
    margin-left: 25%;
  }
  .offset-md-4 {
    margin-left: 33.33333333%;
  }
  .offset-md-5 {
    margin-left: 41.66666667%;
  }
  .offset-md-6 {
    margin-left: 50%;
  }
  .offset-md-7 {
    margin-left: 58.33333333%;
  }
  .offset-md-8 {
    margin-left: 66.66666667%;
  }
  .offset-md-9 {
    margin-left: 75%;
  }
  .offset-md-10 {
    margin-left: 83.33333333%;
  }
  .offset-md-11 {
    margin-left: 91.66666667%;
  }
  .g-md-0,
  .gx-md-0 {
    --bs-gutter-x: 0;
  }
  .g-md-0,
  .gy-md-0 {
    --bs-gutter-y: 0;
  }
  .g-md-1,
  .gx-md-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-md-1,
  .gy-md-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-md-2,
  .gx-md-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-md-2,
  .gy-md-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-md-3,
  .gx-md-3 {
    --bs-gutter-x: 1rem;
  }
  .g-md-3,
  .gy-md-3 {
    --bs-gutter-y: 1rem;
  }
  .g-md-4,
  .gx-md-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-md-4,
  .gy-md-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-md-5,
  .gx-md-5 {
    --bs-gutter-x: 3rem;
  }
  .g-md-5,
  .gy-md-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 992px) {
  .col-lg {
    flex: 1 0;
  }
  .row-cols-lg-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-lg-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-lg-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-lg-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-lg-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-lg-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-lg-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-lg-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-lg-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-lg-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-lg-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-lg-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-lg-0 {
    margin-left: 0;
  }
  .offset-lg-1 {
    margin-left: 8.33333333%;
  }
  .offset-lg-2 {
    margin-left: 16.66666667%;
  }
  .offset-lg-3 {
    margin-left: 25%;
  }
  .offset-lg-4 {
    margin-left: 33.33333333%;
  }
  .offset-lg-5 {
    margin-left: 41.66666667%;
  }
  .offset-lg-6 {
    margin-left: 50%;
  }
  .offset-lg-7 {
    margin-left: 58.33333333%;
  }
  .offset-lg-8 {
    margin-left: 66.66666667%;
  }
  .offset-lg-9 {
    margin-left: 75%;
  }
  .offset-lg-10 {
    margin-left: 83.33333333%;
  }
  .offset-lg-11 {
    margin-left: 91.66666667%;
  }
  .g-lg-0,
  .gx-lg-0 {
    --bs-gutter-x: 0;
  }
  .g-lg-0,
  .gy-lg-0 {
    --bs-gutter-y: 0;
  }
  .g-lg-1,
  .gx-lg-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-lg-1,
  .gy-lg-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-lg-2,
  .gx-lg-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-lg-2,
  .gy-lg-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-lg-3,
  .gx-lg-3 {
    --bs-gutter-x: 1rem;
  }
  .g-lg-3,
  .gy-lg-3 {
    --bs-gutter-y: 1rem;
  }
  .g-lg-4,
  .gx-lg-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-lg-4,
  .gy-lg-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-lg-5,
  .gx-lg-5 {
    --bs-gutter-x: 3rem;
  }
  .g-lg-5,
  .gy-lg-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1200px) {
  .col-xl {
    flex: 1 0;
  }
  .row-cols-xl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xl-0 {
    margin-left: 0;
  }
  .offset-xl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xl-3 {
    margin-left: 25%;
  }
  .offset-xl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xl-6 {
    margin-left: 50%;
  }
  .offset-xl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xl-9 {
    margin-left: 75%;
  }
  .offset-xl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xl-11 {
    margin-left: 91.66666667%;
  }
  .g-xl-0,
  .gx-xl-0 {
    --bs-gutter-x: 0;
  }
  .g-xl-0,
  .gy-xl-0 {
    --bs-gutter-y: 0;
  }
  .g-xl-1,
  .gx-xl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xl-1,
  .gy-xl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xl-2,
  .gx-xl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xl-2,
  .gy-xl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xl-3,
  .gx-xl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xl-3,
  .gy-xl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xl-4,
  .gx-xl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xl-4,
  .gy-xl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xl-5,
  .gx-xl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xl-5,
  .gy-xl-5 {
    --bs-gutter-y: 3rem;
  }
}
@media (min-width: 1400px) {
  .col-xxl {
    flex: 1 0;
  }
  .row-cols-xxl-auto > * {
    flex: 0 0 auto;
    width: auto;
  }
  .row-cols-xxl-1 > * {
    flex: 0 0 auto;
    width: 100%;
  }
  .row-cols-xxl-2 > * {
    flex: 0 0 auto;
    width: 50%;
  }
  .row-cols-xxl-3 > * {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }
  .row-cols-xxl-4 > * {
    flex: 0 0 auto;
    width: 25%;
  }
  .row-cols-xxl-5 > * {
    flex: 0 0 auto;
    width: 20%;
  }
  .row-cols-xxl-6 > * {
    flex: 0 0 auto;
    width: 16.6666666667%;
  }
  .col-xxl-auto {
    flex: 0 0 auto;
    width: auto;
  }
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 8.33333333%;
  }
  .col-xxl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 25%;
  }
  .col-xxl-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }
  .col-xxl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
  .col-xxl-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .col-xxl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 75%;
  }
  .col-xxl-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
  .col-xxl-11 {
    flex: 0 0 auto;
    width: 91.66666667%;
  }
  .col-xxl-12 {
    flex: 0 0 auto;
    width: 100%;
  }
  .offset-xxl-0 {
    margin-left: 0;
  }
  .offset-xxl-1 {
    margin-left: 8.33333333%;
  }
  .offset-xxl-2 {
    margin-left: 16.66666667%;
  }
  .offset-xxl-3 {
    margin-left: 25%;
  }
  .offset-xxl-4 {
    margin-left: 33.33333333%;
  }
  .offset-xxl-5 {
    margin-left: 41.66666667%;
  }
  .offset-xxl-6 {
    margin-left: 50%;
  }
  .offset-xxl-7 {
    margin-left: 58.33333333%;
  }
  .offset-xxl-8 {
    margin-left: 66.66666667%;
  }
  .offset-xxl-9 {
    margin-left: 75%;
  }
  .offset-xxl-10 {
    margin-left: 83.33333333%;
  }
  .offset-xxl-11 {
    margin-left: 91.66666667%;
  }
  .g-xxl-0,
  .gx-xxl-0 {
    --bs-gutter-x: 0;
  }
  .g-xxl-0,
  .gy-xxl-0 {
    --bs-gutter-y: 0;
  }
  .g-xxl-1,
  .gx-xxl-1 {
    --bs-gutter-x: 0.25rem;
  }
  .g-xxl-1,
  .gy-xxl-1 {
    --bs-gutter-y: 0.25rem;
  }
  .g-xxl-2,
  .gx-xxl-2 {
    --bs-gutter-x: 0.5rem;
  }
  .g-xxl-2,
  .gy-xxl-2 {
    --bs-gutter-y: 0.5rem;
  }
  .g-xxl-3,
  .gx-xxl-3 {
    --bs-gutter-x: 1rem;
  }
  .g-xxl-3,
  .gy-xxl-3 {
    --bs-gutter-y: 1rem;
  }
  .g-xxl-4,
  .gx-xxl-4 {
    --bs-gutter-x: 1.5rem;
  }
  .g-xxl-4,
  .gy-xxl-4 {
    --bs-gutter-y: 1.5rem;
  }
  .g-xxl-5,
  .gx-xxl-5 {
    --bs-gutter-x: 3rem;
  }
  .g-xxl-5,
  .gy-xxl-5 {
    --bs-gutter-y: 3rem;
  }
}
.section-heading {
  font-size: 4.8rem;
  font-weight: 700;
  margin-bottom: 6rem;
  text-transform: capitalize;
}
.section-heading::before {
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: var(--helper);
}

.section-heading::after {
  content: "";
  position: absolute;
  top: 128%;
  left: 1.5rem;
  width: 90%;
  height: 0.3rem;
  background: var(--helper);
}
.text-align-center {
  display: flex;

  justify-content: center;
}

.wid-section .section-heading {
  align-self: center;
  margin-bottom: 70px;
}
#skills {
  padding-top: 100px;
}

.skills-section img.skill-icon {
  transition-duration: 0.2s;
  width: 80px;
}
.skills-section .skill-wrapper:hover {
  cursor: pointer;
}

.skills-section .skill-wrapper:hover img.skill-icon {
  -webkit-filter: none;
  filter: none;
  transition-duration: 0.2s;
}

.skills-section .skill-wrapper:hover .skill-name {
  display: block;
  transition-duration: 0.2s;
}

.skills-section .skill-wrapper {
  align-items: center;
  height: 200px;
  justify-content: center;
  padding: 30px;
}

.skills-section .skill-name {
  display: none;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}
/* Circular Progress Bar */
.CircularProgressbar {
  vertical-align: middle;
  width: 100%;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #3e98c7;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d6d6d6;
  stroke-linecap: round;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: #3e98c7;
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 20px;
}

.CircularProgressbar .CircularProgressbar-background {
  fill: #d6d6d6;
}

.CircularProgressbar.CircularProgressbar-inverted
  .CircularProgressbar-background {
  fill: #3e98c7;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-path {
  stroke: #fff;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-trail {
  stroke: transparent;
}
/* ===========================================
 Section portfolio
======================================= */

.section-portfolio {
  background-color: var(--bg);
}

.section-portfolio p,
.section-services p {
  max-width: 60rem;
}

.portfolio-images {
  gap: 3.2rem;
  margin-top: 6.4rem;
}

.img-ovelay {
  position: relative;
  overflow: hidden;
}

.portfolio-images img {
  width: 100%;
  border-radius: 7px;
  position: relative;
  overflow: hidden;
}

.img-ovelay .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  opacity: 0;
  color: var(--third);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100%);
  transition: all 0.3s linear;
  border-radius: 7px;
  /* box-shadow: inset 0 0 0 0.5rem var(--helper-tint); */
}

.img-ovelay:hover > .overlay {
  opacity: 0.8;
  transform: translateY(0);
  cursor: pointer;
}

.img-ovelay .overlay .common-heading {
  margin: 0;
  color: var(--third);
  text-decoration: none;
}

/* ===========================================
work data Section
======================================= */
.section-work-data {
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  color: var(--third);
  text-align: center;
}
.p-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-top: 6.4rem;
  margin: 6.4rem 0;
}
.common-numbers {
  font-size: 4.8rem;
}

.section-work-data p {
  color: var(--third);
}
.section-work-data {
  background: -webkit-linear-gradient(
    0deg,
    rgb(132 144 255) 0%,
    rgb(98 189 252) 100%
  );
  color: var(--third);
  text-align: center;
}

.common-numbers {
  font-size: 4.8rem;
}

.section-work-data p {
  color: var(--third);
}

/* ===========================================
Services Section
======================================= */
.section-services {
  transition: all 0.3s linear;
}
.section-services p {
  max-width: 60rem;
}

.section-services .grid {
  margin-top: 10rem;
  row-gap: 10rem;
}

.service-box {
  text-align: center;
  box-shadow: var(--shadpw);
  border-radius: 5px;
  padding: 6.4rem 3.4rem;
  transition: all 0.2s linear;
}

.service-box:hover,
.service-box:active {
  transform: translateY(-3rem);
}
.service-icon {
  width: 8rem;
  height: 8rem;
  background-color: rgb(144 172 209 / 20%);
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 69%;
  position: relative;
  padding: 1.4rem 1.8rem;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
}
@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}
.service-icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 40% 54% 46% 70%;
  background-color: transparent;
  border: 1px solid black;
}

/* ===========================================
Resume Section
======================================= */

.section-resume {
  background: var(--bg);
}

.resume-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resume-img img {
  width: 80%;
  box-shadow: -2rem 2rem 0 0 var(--helper);
  /* box-shadow: var(--shadpw) */
}

.resume-para {
  font-size: 2.4rem;
  letter-spacing: 0;
  text-transform: capitalize;
  color: var(--heading);
}

.resume-data-subsection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4.8rem;
  margin-top: 4.4rem;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid var(--para-tint);
}

.resume-data-left .grid {
  gap: 1.5rem;
}

.resume-data-left .grid p,
.resume-data-right p {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.resume-data-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.resume-data-right .resume-data-button {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--helper);
  padding: 0.3rem 0;
  min-width: 50%;
  background: #f3f4ff;
  border-radius: 10rem;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.resume-data-bottom-subsection {
  margin-top: 4.8rem;
}

.resume-data-bottom-subsection .margin-small {
  margin-top: 1.8rem;
}

.resume-data-bottom-subsection .resume-data-button {
  width: 80%;
}

/* ===========================================
Testimonial Swiper Queries Section
======================================= */
/* 
.section-testimonial {
  background-color: var(--bg);
} */

.swiper {
  width: 100%;
  height: 100%;
  margin-top: 9rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-bottom: 5rem;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background-color: var(--third);
  border-radius: 10px;
  text-align: left;
  box-shadow: var(--shadpw);
  position: relative;
}

.swiper-client-msg::before {
  content: "";
  position: absolute;
  bottom: -10rem;
  left: 50%;
  transform: translateX(-50%);
  /* width: 5rem;
  height: 5rem; */
  border: 5rem solid var(--third);
  border-color: transparent;
  border-top-color: var(--third);
}

.swiper-client-msg p::before {
  content: "\f10d";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 2rem;
  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
}

.swiper-client-msg p::after {
  /* display: inline-block */
  content: "\f10e";
  position: absolute;
  bottom: 0%;
  right: 5%;

  font-size: 5rem;
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #ced3ff;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-client-data {
  align-items: center;
  justify-items: start;
  justify-content: start;
  gap: 1.4rem;
  margin-top: 3.2rem;
}

.swiper-client-data img {
  max-width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 0.5rem solid #ced3ff;
}

.swiper-client-data p:first-child {
  font-weight: bold;
  color: var(--heading);
}

/* ===========================================
freelancer  Section
======================================= */

.section-freelancer {
  background-image: url("../images/folio/3.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  position: relative;
  background-attachment: fixed;
}

.section-freelancer .overlay {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3e64ff;
  opacity: 0.7;
}
section {
  scroll-snap-align: start;
}
body {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}
.section-freelancer .container {
  position: relative;
}

.section-freelancer h2 {
  font-size: 5.4rem;
}

.section-freelancer h2 span {
  color: #a0f669;
}

.section-freelancer h2,
.section-freelancer p {
  color: var(--third);
  margin-bottom: 1.8rem;
}

/* ===========================================
contact Section
======================================= */

.section-contact-main {
  max-width: 70rem;
  margin: 0 auto;
  margin-top: 10rem;
}

.section-contact-main form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.section-contact-main .grid {
  gap: 2.4rem;
}

.section-contact-main input,
textarea {
  padding: 1.5rem 2rem;
  border: 0.1rem solid #c9c9c9;
  border-radius: 5px;
  width: 100%;
  font-size: 1.6rem;
  font-family: "work sans";
}

.section-contact-main textarea {
  height: 15rem;
}

::placeholder {
  font-size: 1.6rem;
  font-family: "work sans";
}

.section-contact-main input[type="submit"] {
  max-width: 30%;
  border: none;
}
/*  ======================================
     Contact Section Details
     ======================================= */

.contact-section .contact-card {
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 9px #a6e9f6;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 50px;
  width: 85%;
  margin: 0px auto;
  margin-bottom: 4rem;

  text-align: center;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.contact-section .contact-card:hover {
  background-color: #a6e9f6;
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  transition-duration: 0.2s;
}

.contact-section .contact-card-detail {
  margin-top: 30px;
}

.contact-section .contact-card-detail .contact-heading {
  font-size: large;
  font-weight: 700;
}

.contact-section .contact-card-icon img {
  width: 64px;
}
.contact-value {
  font-size: 17px;
}

.location-card:hover .contact-value {
  color: #28a244;
  font-weight: 600;
}

/* ===========================================
Footer Section
======================================= */

.section-footer {
  background: var(--heading);
}

.section-footer h3 {
  color: var(--third);
  margin-bottom: 4rem;
}

.f-about p {
  color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address address {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  list-style: none;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p {
  font-style: normal;
  color: #adadad;
}

.f-social-icons {
  margin: 5rem 0;
  text-align: center;
  color: #adadad;
}

.f-social-icons .icons {
  width: 4rem;
  height: 4rem;
  background-color: rgb(144 172 209 / 20%);
  display: inline-block;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
  color: var(--third);
}

.f-credits p {
  text-align: center;
  color: #adadad;
}

footer a:hover {
  color: var(--third);
}
/* ===========================================
Media Queries Section
======================================= */

@media (max-width: 94em) {
  .container {
    max-width: 130rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }
}

/* for widht below 1200px  */
@media (max-width: 75em) {
  .container {
    max-width: 110rem;
  }
  .navbar-lists {
    gap: 3.4rem;
  }
}

/* media queries less then 980px */
@media (max-width: 980px) {
  /* to make all the container with same padding  */
  .container {
    padding: 0 3.2rem;
  }

  html {
    font-size: 56.25%;
  }

  /* when we are in 980px we need to show the menu open icon */
  .mobile-navbar-btn {
    display: block;
    /* background-color: #212529; */
    z-index: 99999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .header .logo {
    width: 40%;
    /* height: 3.4rem; */
  }

  .navbar {
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: all 0.5s linear;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-lists {
    flex-direction: column;
    align-items: center;
  }

  .navbar .navbar-lists .navbar-link:link,
  .navbar .navbar-lists .navbar-link:visited {
    color: #212529;
    font-size: 3.2rem;
  }

  .active .navbar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    z-index: 9999;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }

  /* hero section  */

  .section-hero h1 {
    line-height: 1.05;
  }

  /* section bidoata  */
  .section-biodata .grid {
    gap: 3rem;
  }

  /* section work  */
  .section-work-data .common-numbers {
    font-size: 3.2rem;
  }

  /* services section  */

  .section-services .grid {
    gap: 6rem;
  }

  .section-services .grid-three-col {
    grid-template-columns: repeat(2, 1fr);
  }

  /* resume section  */
  .section-resume .grid-two-col {
    grid-template-columns: 1fr;
  }

  .section-resume .grid-two-col img {
    width: 50%;
  }
  .resume-img {
    grid-row: 2;
    transform: translateY(-2rem);
  }

  /* testimonial section  */
  .section-testimonial .grid-three-col {
    grid-template-columns: 2fr;
  }

  .section-footer .grid-four-col {
    grid-template-columns: 1fr 1fr;
  }
  /* Below 780px  */

  @media (max-width: 780px) {
    .container {
      max-width: 720px;
    }
    /* hero section  */
    .section-hero .grid-two-col {
      grid-template-columns: 1fr;
    }

    .section-hero-data {
      align-items: center;
    }
    .hero-heading {
      text-align: center;
    }
    .hero-para {
      text-align: center;
      margin-top: 2rem;
    }

    .section-hero img {
      width: 70%;
    }

    /* work section  */
    .section-portfolio .grid-three-col {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  /* Below 560px  */
  @media (max-width: 35em) {
    .header {
      padding: 0 3.2rem;
    }

    .header .logo {
      width: 60%;
    }

    /* secion .bio-data */

    .section-biodata .grid-two-col {
      grid-template-columns: 1fr;
    }

    .section-biodata .bio-image {
      grid-row: 2;
      margin-top: 3.2rem;
    }

    /* work section  */
    .section-work-data .grid-four-col {
      grid-template-columns: 1fr 1fr;
    }

    /* services section  */
    .section-services .grid-three-col {
      grid-template-columns: 1fr;
    }
  }
}

/* =========================
    Starting Animation Section
  =========================== */
.hero-img {
  animation: animate 1s ease-in;
}
.bio-image {
  animation: imageAnimate 0.9s ease-in;
}
@keyframes animate {
  0% {
    transform: skewX(1deg) translateX(140px);
  }

  100% {
    transform: skew(0deg);
  }
}
@keyframes imageAnimate {
  0% {
    transform: skewX(0deg) translateX(-140px);
  }

  100% {
    transform: skew(0deg);
  }
}
/* 768 to  992 */
@media (max-width: 992px) {
  .col-lg-2 {
    margin: 40px;
  }
}
@media (max-width: 768px) {
  .col-lg-2 {
    margin: 0px;
  }
  input[type="submit"] {
    margin-left: 10px;
  }
  .section-contact-main {
    padding: 10px;
  }
}
@media (max-width: 768px) {
  .hero-para {
    margin-left: -250px !important;
  }
  #container__typing #text {
    font-size: 18px;
    line-height: 35px;
  }
  .hero-img {
    width: auto;
    height: auto;
  }
  .bio-image img {
    width: 310px;
    height: 430px;
  }
}
@media (max-width: 375px) {
  #container__typing {
    width: 100px;
  }
  #container__typing #text {
    font-size: 16px;
    line-height: 35px;
    margin-top: 30px;
    margin-left: -150px;
  }
  body {
    width: 100% !important;
  }
  #cursor {
    line-height: 35px;
    margin-top: 30px;
    margin-left: -20px;
  }
  .hero-para {
    margin-left: 1rem !important;
  }
  .logo {
    width: 200px !important;
  }
}
@media (max-width: 1288px) {
  .hero-top-data,
  .hero-heading,
  .hero-para {
    margin-left: 15px;
  }
  #cursor {
    margin-left: 15px;
  }
  #text {
    margin-left: 15px;
  }
  .hireme-btn {
    margin-left: 15px;
  }
  .section-portfolio {
    padding: 10px;
  }
  .section-services {
    margin-left: 15px;
  }
  .section-testimonial {
    margin-left: 15px;
  }
  .section-contact {
    margin-left: 15px;
  }
}
@media (max-width: 375px) {
  #cursor {
    height: 24px;
  }

  .hero-heading {
    margin-left: -100px;
    font-size: 32px;
  }
  .hero-para {
    text-align: center;
  }
}
@media (max-width: 768px) {
  #cursor {
    height: 24px;
  }
  body {
    width: 100%;
  }
}
@media (max-width: 980px) {
  .logo {
    width: 180px !important;
  }
  #text {
    font-size: 17px !important;
    height: 30px;
    margin-left: 20px;
  }
  #container__typing {
    width: 250px !important;
    line-height: 50px;
  }
  #cursor {
    margin-left: -20px;
    margin-top: 2.5rem;
    height: 25px;
  }
}
@media (max-width: 780px) {
  #container__typing #text {
    font-size: 16px;
    line-height: 35px;
    margin-top: 30px;
    margin-left: -75px;
  }
  body {
    width: 100% !important;
  }
  #cursor {
    margin-top: 65px;
    height: 24px;
    margin-left: -20px;
  }
  #text {
    font-size: 17px !important;
    height: 30px;
    margin-left: 20px;
  }
  .hero-para {
    margin-left: 12px !important;
  }
}
@media (max-width: 535px) {
  body {
    overflow-x: hidden;
    width: 100% !important;
  }
  #cursor {
    margin-top: 65px;
    height: 24px;
    margin-left: -23px !important;
  }
  #text {
    font-size: 17px !important;
    height: 30px;
    margin-left: -72px !important;
  }
  body {
    width: 100%;
  }
}

html,
body {
  overflow-x: hidden;
}
body {
  position: relative;
}
